body {
	/* Paramètres généraux pour la page : */
	background-color:  #1D1D1D;
	color: #EEE;
	font-family: Helvetica, sans-serif;
}

.boutons {
	/* Mode d'affichage : */
	display: inline-block;

	/* Dimensions : */
	width: 250px;
	height: 2.5em;

	/* Visuel : */
	background-color:  white;
	color: #1D1D1D;
	border: none;
	border-radius: 20px;
	margin: 15px;
	padding: 10px;

	/* Paramètres de police d'écriture : */
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	vertical-align: center;

	/* Paramètre supplémentaire : */
	transition:  ease-out 0.1s;
}

.boutons:active { /* On réduit légèrement le bouton lorsque l'on appuie dessus pour donner de la vie */
	transform: scale(.9);
}

.boutons:first-child{ /* On change la couleur du premier bouton pour qu'il soit bleu */
	background-color: darkblue;
	color: white;
}

.boutons:last-child { /* On change la couleur du premier bouton pour qu'il soit rouge */
	background-color: red;
	color: white;
}


#zoneJoueurs {
	display:  flex;
	justify-content: center;

	width: 99vw;
	margin-top:  50px;
}

.joueur {
	/* Dimensions : */
	height: 550px;
	width:  300px;

	/* Visuels : */
	margin: 10px 30px 30px 30px;
	border-radius: 25px;
	background-color: #c6c4b8;
	color: #1D1D1D;

	/* Paramètres de la flexbox : */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	/* Paramètres supplémentaires : */
	overflow-y: auto;
	transition: ease-in 0.2s;
}

.joueur > * {
	text-align: center;
}

.buttonContainer { /* On englobe nos boutons dans une flexbox afin de les placer correctement au centre */
	display: flex;
	justify-content: center;
	align-items: center;

}

.playerImage {
	/* Dimensions : */
	width: 250px;
	height: 250px;

	max-width: 100%;

	/* Visuels : */
	margin: 15px 0;
	border-radius: 25px;

	/* Paramètre pour la gestion de l'image, ici on veut que l'image remplisse l'espace, sans laisser de vide mais sans distorsion. */
	object-fit:  cover;
}


.playerName {
	font-size: 50px;
	font-weight: bold;
	margin: 5px;
}

.playerAge {
	font-size: 20px;
	font-weight:  bold;
	opacity: 0.7;
}

#joueur2 > .playerImage {
	/* On inverse l'image du joueur 2 afin que les combattants se regardent. */
	transform: scaleX(-1);
}

.reversed {
	transform: scaleX(-1);
}

.playerDesc {
	margin: 10px;
}

#updateNotifier {
	transition: ease-in-out 0.5s;
	position: fixed;
	background-color:  gold;
	right: 10px;
	bottom: -100%;
	color: black;
	border-radius: 20px;
	padding: 20px;
}

.closeIcon {
	height:  20px;
	width: 20px;
	position: absolute;
	right: 15px;
	top: 15px;
	border-radius: 50%;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
}

#timeSpent {
	background-color: darkblue;
	width: 200px;
	height: 50px;
	border-radius: 20px;
	padding: 20px;
	position: fixed;
	left: 10px;
	bottom:  20px;
	font-size: 18px;
	font-weight: bold;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.timeDiv {
	display: inline-block;

}

/* Portrait */
@media screen and (max-width:720px) {
	body {
		margin: 0;
	}

	h1 {
		font-size: 25px;
	}

    .playerImage {
    	aspect-ratio: 1;
    	width: 80%;
    	height: auto;
    }

    .joueur {
    	/* Dimensions : */
		height: 400px;
		width:  300px;
		margin: 5px;
    }

    .boutons {
    	width: 100px;
		height: 2.5em;
		font-size: 1rem;
    }

    .playerName {
    	font-size: 1.25rem;
    }

    .playerAge {
    	font-size: 1rem;
    }

    #resultat {
    	position: fixed;
    	bottom: 0;
    	right: 0;
    	margin: 15px;
    }

    #timeSpent {
    	font-size: 0.75rem;
    	height: 1.5rem;
    	width: 100px;
    	text-align: center;
    	bottom: 0;
    	left: 0;
    	margin: 15px;
    }

    #zoneJoueurs {
    	gap: 5px;
    }
}

/* Portrait */
@media screen and (max-width:1350px) and (min-width: 720px) {
    #timeSpent {
    	font-size: 0.75rem;
    	height: 1.5rem;
    	width: 100px;
    	text-align: center;
    	top: 0;
    	left: 0;
    	margin: 15px;
    }
}